html, body {
	min-height: 100%;
	margin: 0 0;
	font-size: 16px;
}

body {
	background: linear-gradient(307deg, rgba(111,203,123,1) 0%, rgba(177,207,181,1) 25%, rgba(191,213,194,1) 50%, rgba(149,208,157,1) 75%, rgba(111,203,123,1) 100%); 
	background-size: cover;	
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 16px;
	margin: 0 0;
}

.container {
	max-width: none;
	padding: 0 0;
	margin: 0 0;
}

#particle-container {
	position: absolute;
	width: 100%;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: -11;
}

.nav {
	height: 10ch;
	font-size: 1em;
	font-weight: 900;
	color: #00b300;
}

.nav {
	width: 100%;
}

.nav a {
	padding-right: 15px;
	padding-left: 15px;
	color: white;
}

a:hover {
	color: #b5ffc3;
	font-size: 1.15em;
	text-decoration: none;
}

.dating-nav {
	float: left;
}

.sign-in-nav {
	float: right;
	text-align: right;
}

.div-of-ps {
	padding: 3ch 10ch 10ch 10ch;
}

h1 {
	font-size: 5em;
	color: #00b300;
	text-align: center;
	margin-top:	2vh;
	margin-bottom: 6vh;
}

h2 {
	font-size: 3.125em;
	color: #006600;
	text-align: center;
	margin-bottom: 0;
}

.h2-other {
	font-size: 0.75em;
}

h3 {
	font-size: 2.5em;
	color: #4da534;
	text-align: center;
	font-style: italic;
}

p, input.kindness-ps  {
	font-size: 1.25em;
	color: #595959;
  font-weight: 900;
}

.dating-page-img, .kindness-page-img, .valued-page-img {
	height: 25%;
	width: 25%;
	-webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  cursor: pointer;
}

.dating-page-img, .kindness-page-img {
	float: right;
	margin: 0 0 5px 20px;
}

.valued-page-img {
	float: left;
	margin: 0 20px 5px 0;
}

.dating-page-img:hover, .kindness-page-img:hover, .valued-page-img:hover {
	height: 50%;
	width: 50%;
}

#card-request-form {
	margin-left: auto;
  margin-right: auto;
  padding: 3ch 30ch;
}

.button {
	font-size: 1.35em;
	color: #595959;
	border: 2px solid #6fcb7b;
}

.button:hover {
  background-color: #6fcb7b;
  color: #595959;
}

p.form-submitted {
	font-size: 1em;
	color: #369643;
}

.style-first {
	font-size: 1.35em;
	color: #cc7171;
	font-style: italic;
}

.inline-space {
	padding-left: 8vw;
}

.create-account-button {
	color: white;
	display: block;
	margin: 0 auto;
	font-weight: 900;
	font-size: 1.35em;
	background-color: #4ae04a; 
	border: 5px solid white;
  padding: 20px 15px;
}

.create-account-button:hover {
		font-size: 1.6em;
}

/* ================================= 
Home Page
==================================== */

#home {
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(39,39,45,1) 30%, rgba(101,101,107,1) 66%, rgba(0,0,0,1) 94%); 
	background-size: cover;	
	font-size: 16px;
}

#home .nav a:hover {
	color: #66ff66;
}

.card-container {
		width: 100%;
		height: 80vh;
		margin-top: -6vh;
		overflow: hidden;
	}

.row {
	margin-right: 0;
	margin-left: 0;
}

.arrows-and-cards {
	height: 70vh;
	padding-top: 12vh;
	z-index: 11;
  position: relative;
}

.all-cards {
	text-align: center;
	padding: 0 0;
}

#prev {
	padding: 0 0;
	cursor: pointer;
}

#card-dating {
	z-index: 11;
  position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

#card-kindness {
	display: none;
	z-index: 11;
  position: relative;
  width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

#card-valued {	
	display: none;
	z-index: 11;
  position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

#space {
	display: none;
	z-index: 11;
  position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-slot {
	z-index: 10;
	position: relative;
	margin-top: -10px;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

#next {
	padding: 0 0;
	cursor: pointer;
}


#caption-dating {
	position:	relative;
	width: 110vw;
	height: 50px;
	margin-top: 10px;
	overflow: hidden;
}

#caption-kindness {
	position:	relative;
	display: none;		
	width: 110vw;
	height: 50px;
	overflow: hidden;
	margin-top: 10px;
}

#caption-valued {
	position:	relative;
	display: none;
	width: 110vw;
	height: 50px;
	overflow: hidden;
	margin-top: 10px;
}


/* ================================= 
Login Page
==================================== */

.login {
	width: 400px;
	background-color: #e9fbe9;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.login h1 {
	text-align: center;
	color: #5b6574;
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #c7cad1;
}
.login form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #4ae04a;
	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
	width: 310px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}
.login form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #4ae04a;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #21c421;
  transition: background-color 0.2s;
}