html, body {
	min-height: 100%;
}

body {
	background: black;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
	color: #00b300;
	text-align: center;
	font-size: 100px;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 992px) {

	body {
		background: rgb(2,0,33);
		background: linear-gradient(180deg, rgba(2,0,33,1) 0%, rgba(34,34,40,1) 29%, rgba(99,104,106,1) 75%, rgba(117,117,126,1) 79%, rgba(8,8,8,1) 100%);
	}

	h1 {
		font-size: 50px;
	}
}