html, body {
	min-height: 100%;
	margin: 0 0;
}

body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 16px;
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(39,39,45,1) 30%, rgba(101,101,107,1) 66%, rgba(0,0,0,1) 94%); 
	background-size: cover;	
	margin: 0 0;
}

div.container {
	max-width: none;
	padding: 0 0;
	margin: 0 0;
}

h1 {
	font-size: 5em;
	color: #00b300;
	text-align: center;
	margin-top:	2vh;
	margin-bottom: 6vh;
}

h2 {
	font-size: 3.125em;
	color: #006600;
	text-align: center;
	margin-bottom: 0;
}

h3 {
	font-size: 2.5em;
	color: #4da534;
	text-align: center;
	font-style: italic;
}

/*  Contains the gradient background  */
div.card-container {
		width: 100%;
		height: 99vh;
		margin-top: -6vh;
		overflow: hidden;
	}

div.row {
	margin-right: 0px;
	margin-left: 0px;
}

div.arrows-and-cards {
	height: 70vh;
	padding-top: 20.01vh;
	z-index: 11;
  position: relative;
}

div.all-cards {
	text-align: center;
	padding: 0px 0px;
}

div#prev {
	padding: 0px 0px;
	cursor: pointer;
}

#card-dating {
	z-index: 11;
  position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

#card-kindness {
	display: none;
	z-index: 11;
  position: relative;
  width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

#card-valued {	
	display: none;
	z-index: 11;
  position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

#space {
	display: none;
	z-index: 11;
  position: relative;
	width: 100%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

div.card-slot {
	z-index: 10;
	position: relative;
	margin-top: -10px;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

div#next {
	padding: 0 0;
	cursor: pointer;
}


#caption-dating {
	position:	relative;
	width: 110vw;
	height: 50px;
	margin-top: 10px;
	overflow: hidden;
}

#caption-kindness {
	position:	relative;
	display: none;		
	width: 110vw;
	height: 50px;
	overflow: hidden;
	margin-top: 10px;
}

#caption-valued {
	position:	relative;
	display: none;
	width: 110vw;
	height: 50px;
	overflow: hidden;
	margin-top: 10px;
}